@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  background: darkseagreen; }

h1 {
  color: blue; }

.weather-graph {
  width: 624px;
  height: 300px;
  margin: 50px auto;
  position: relative;
  background: steelblue; }
  .weather-graph h3 {
    margin: 0;
    color: white;
    font-weight: 300; }
  .weather-graph .high-temp {
    position: absolute;
    top: 79px;
    left: 30px; }
  .weather-graph .low-temp {
    position: absolute;
    bottom: 89px;
    left: 30px; }
  .weather-graph .line-chart {
    position: absolute;
    padding-left: 40px;
    padding-top: 35px; }
  .weather-graph p {
    width: 40px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px; }
  .weather-graph .hour-four {
    position: absolute;
    top: 15px;
    left: 163px; }
  .weather-graph .hour-eight {
    position: absolute;
    top: 15px;
    left: 338px; }
  .weather-graph .hour-twelve {
    position: absolute;
    top: 15px;
    left: 513px; }
  .weather-graph .sunrise-line, .weather-graph .next-sunrise-line {
    width: 10px;
    height: 250px;
    background: yellow;
    position: absolute; }
  .weather-graph .sunset-line {
    width: 10px;
    height: 250px;
    background: orange;
    position: absolute; }

.weather-forecast {
  position: absolute;
  top: 233px;
  background: black;
  color: white;
  width: 624px; }
  .weather-forecast .forecast-container {
    list-style: none;
    display: flex;
    padding-left: 83px; }
    .weather-forecast .forecast-container p {
      font-weight: 300;
      font-size: 20px; }
    .weather-forecast .forecast-container li {
      text-align: center;
      font-weight: 300;
      width: 41px;
      padding-left: 17px; }

circle {
  r: 3;
  fill: white; }
