@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  background: darkseagreen;
}

h1 {
  color: blue;
}

.weather-graph {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  position: relative;
  background: steelblue;

  h3 {
    margin: 0;
    color: white;
    font-weight: 300;
  }

  .high-temp {
    position: absolute;
    top: 33px;
    left: 30px;
  }
  .low-temp {
    position: absolute;
    bottom: 40px;
    left: 30px;
  }

  .line-chart {
    position: absolute;
    padding-left: 20px;
  }
  p {
    width: 40px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 600;
  }
  .hour-four {
    position: absolute;
    top: 15px;
    left: 185px;
  }
  .hour-eight {
    position: absolute;
    top: 15px;
    left: 316px;
  }
  .hour-twelve {
    position: absolute;
    top: 15px;
    left: 449px;
  }
}
.weather-forecast {
    position: absolute;
    top: 288px;
    background: black;
    color: white;
    width: 600px;
  .forecast-container {
    list-style: none;
    display: flex;
    padding-left: 54px;

    li {
      text-align: center;
      font-weight: 300;
      width: 41px;
      padding-left: 17px;
    }
  }
}
