@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,700');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}

h1 {
  color: blue;
}

.weather-graph {
  width: 624px;
  height: 329px;
  margin: 50px auto;
  position: relative;
  background: #6F98BD;
  overflow: hidden;

  h3 {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 25px;
  }

  .high-temp {
    position: absolute;
    top: 76px;
    left: 30px;
  }
  .low-temp {
    position: absolute;
    bottom: 117px;
    left: 30px;
  }

  .line-chart {
    position: absolute;
    padding-left: 40px;
    padding-top: 35px;
  }
  p {
    width: 40px;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
  }
  .hour-four {
    position: absolute;
    top: 15px;
    left: 163px;
  }
  .hour-eight {
    position: absolute;
    top: 15px;
    left: 338px;
  }
  .hour-twelve {
    position: absolute;
    top: 15px;
    left: 513px;
  }
  .sunrise-line, .next-sunrise-line {
    width: 20px;
    height: 250px;
    top: -5px;
    background: #95915A;
    position: absolute;
    filter:blur(5px);
  }
  .sunset-line {
    width: 35px;
    height: 320px;
    top: -25px;
    background: #fcd54a; /* Old browsers */
    background: -moz-linear-gradient(left, rgba(252,213,74,0.52) 0%, rgba(252,213,74,1) 20%, rgba(252,213,74,1) 21%, rgba(177,116,24,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(252,213,74,0.52) 0%,rgba(252,213,74,1) 20%,rgba(252,213,74,1) 21%,rgba(177,116,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(252,213,74,0.52) 0%,rgba(252,213,74,1) 20%,rgba(252,213,74,1) 21%,rgba(177,116,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85fcd54a', endColorstr='#b17418',GradientType=1 ); /* IE6-9 */
    position: absolute;
    filter:blur(13px);
  }
  .night-time {
    width: 100px;
    height: 270px;
    top: -5px;
    background: -moz-linear-gradient(left, #8e3966 0%, #1e1f27 12%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #8e3966 0%,#1e1f27 12%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #8e3966 0%,#1e1f27 12%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e3966', endColorstr='#1e1f27',GradientType=1 ); /* IE6-9 */
    position: absolute;
    filter:blur(5px);
  }
}
.weather-forecast {
    position: absolute;
    top: 233px;
    background: black;
    color: white;
    width: 624px;
  .forecast-container {
    list-style: none;
    display: flex;
    padding-left: 83px;
    p {
      font-weight: 300;
      font-size: 20px;
    }

    li {
      text-align: center;
      font-weight: 300;
      width: 41px;
      padding-left: 17px;
    }
  }
}

circle {
  r: 3;
  fill: white;
}
