.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-list {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.App-button {
  margin: 5px;
}
